<div class="maincontainer">
  <div class="container" *ngIf="currentUser">

    <link href="//ssl.gstatic.com/accounts/ui/avatar_2x.png" rel="stylesheet">
    <div class="bootstrap snippets bootdey">
      <div class="row">
        <div class="profile-nav col-md-3">

          <div class="panel">
            <div class="user-heading round" style=" width: 250px; padding: 20px; ">
              <a >
                <img src="../../assets/img/profileimage.jpeg" alt="">
              </a>
              <h1><strong>{{ currentUser.username }}</strong> </h1>
              <p>
                <li>{{ currentUser.email }}</li>
              </p>

              <strong>Role:</strong>
              <p>
                <li *ngFor="let role of currentUser.roles">{{ role }}</li>
              </p>
            </div>

            <div class="difftabs">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a (click)="showTab(1)"> <i class="fa fa-user"></i>View Profile</a>
              </li>
            </ul>

            <ul class="nav nav-pills nav-stacked">
              <li>
                <a (click)="showTab(2)"> <i class="fa fa-calendar"></i> Shortlisted vehicles</a>
              </li>
            </ul>

            <ul class="nav nav-pills nav-stacked">
              <li>
                <a (click)="showTab(3)"> <i class="fa fa-edit"></i> Profile Settings</a>
              </li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a (click)="showTab(4)"> <i class="fa fa-edit"></i> Your order History</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="SideComponent">

      <div *ngIf="selectedTab === 1">
        <app-view-profile [user]="currentUser"></app-view-profile>
      </div>
      <div *ngIf="selectedTab === 2">
        <app-shortlisted-vehicles ></app-shortlisted-vehicles>
      </div>
      <div *ngIf="selectedTab === 3">
        <app-profile-settings [user1]="currentUser" ></app-profile-settings>
      </div>
      <div *ngIf="selectedTab === 4">
        <app-your-order-history></app-your-order-history>
        <!-- <h1>hiuui</h1> -->
      </div>
    </div>


  </div>


</div>
<div *ngIf="!currentUser">
  <p>Please login.</p>
</div>